/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */
section,nav{
    margin: 0 auto;
    width: 80%;
}

a{
    text-decoration: none;
}

/* GENERAL_STYLE */
.font{
    font-family: Arial, Helvetica, sans-serif
}

.small_bold_text{
    font-size: 17px;
    font-weight: bolder;
}

.text_color_white > .nav_slot >a{
    color: white;
}


/*///////HEADER///////*/
header{
    position: fixed;
    right: 0;
    left:0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav_slot{
       width: 20%; 
       line-height: 36px;
}

.nav_left{
    text-align: left;
}

.nav_right{
    text-align: right;
}

.nav_left > a{
    margin-right: 10px;
}

.nav_right > a{
    margin-left: 10px;
}


.nav_slot >img{
    width: 70%;
    margin-inline: 15%;
    display: block
}

.nav_slot > a {
    line-height:
}

/* DEBUG */

.debug header{
    background-color: orange;
}

.debug section,nav {
    border: 1px dashed black;
}

.debug div{

}